<div>
    <button (click)="deleteSelectedUsers()" [disabled]="!isUserExists">Delete Selected Rows</button>
</div>
<ag-grid-angular #usersGrid style="width:50%; height: 200px;" class="ag-theme-balham" *ngIf="isGridCanShow" 
                    [gridOptions]="gridOptions"
                    enableColResize 
                    enableSorting 
                    enableFilter 
                    [pagination]="true" 
                    [paginationAutoPageSize]="true"
                    (cellClicked)="editCell($event)"
                    (gridReady)="onGridReady($event)" 
                    rowSelection="multiple"
                    (cellValueChanged)="onCellValueChanged($event)"
                    
                    >
</ag-grid-angular>





<!-- <h3>User List
  <button class="btn btn-success btn-circle pull-right" 
          (click) = 'add()'
          title="Add User">
    <i class="glyphicon glyphicon-plus"></i>
  </button>
</h3>

<div class="alert-danger">{{errorMessage}}</div>

<div class="input-group">
    <input type="text" class="form-control" 
            placeholder="Search"    
            [(ngModel)]="searchText"
            aria-describedby="basic-addon1">
    <span class="input-group-addon" id="basic-addon1">Search</span>
</div> 
<table class="table table-bordered">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Is Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let user of users | search: searchText" -->
        <!-- <tr *ngFor="let user of users" [ngClass]="{'btn-primary': user.userid == currentId }"> -->
            <!-- <tr *ngFor="let user of users" [ngClass]="{'btn-primary': user.i=userid == currentId }"> -->
            <!-- <td>{{user.userName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.isActive}}</td>
            <td style="width: 70px;">
                <i class="fa fa-edit pointer" (click)="edit(user.userId)" title="Edit"></i>
                <i class="fa fa-trash pointer" (click)="delete(user.userId)"  title="Delete"></i>
                <i class="fa fa-user pointer" title="Image"></i>
            </td>
        </tr>
    </tbody>
</table> --> 